<h1>Find out if words or phrases are anagrams or antigrams:</h1>
<form action='/anagrams'>
  <div class="form-group">
    <label for="input_1">Type in a word or phrase:</label>
    <input id="input_1" name="input_1" class="form-control" type='text'>
    <label for="input_2">Type in a word or phrase:</label>
    <input id="input_2" name="input_2" class="form-control" type='text'>
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
